{% extends 'fundtracker/header.html' %}
{% block main%}
<div class="content-wrapper">
    <p style="padding:10px">We try to develop a system that will help to overcome corruption.	Our	system	will maintain the records of transactions that are immutable and shared across many regions.
        If someone wants to change records he/she will not be able to change the record.
        We try to fill the gap between government and people. Using our system, common people will be monitoring funds and track the record. Our assumption is we can overcome at least 30 percentage of corruption if we develop such a system.
        India is 86th rank in corruption worldwide. This motivates to build a system that can prevent corruption in India. So India will decrease rank as much as possible. Also because of the UP government, the UP government developed a system to prevent corruption in the land sector.
        The feasibility of blockchain will help us to Develop a system to prevent corruption.
        Blockchain technology’s ability to store  data in a decentralized system is one way to combat corruption. It ensures and improves the security and transparency of transactions, so that no one can change the data stored in each block. There is also huge potential to use blockchain as an automated transaction tracking system that intercepts corruption and fraud in the shortest possible time, is not dependent on human intervention, and is less prone to error of belief and corruption.
        This system was designed to minimise the corruption as much as possible by using the most secured technology "Blockchain".
        Its responsibility is to track all the funds send through the hierarchy so that it is transparent to all the citizens around.
        As transparency will be maintained, it will easier for the citizens to trust the process and monitor every fund.
    </p>
</div> 
    {% endblock %}